//============================================= 颜色设置 ===================================================
$theme-color: #096dd9;

// 字体颜色
// $text-color

// 背景色
// $bg-color

// 另一个浅背景色
// $bg-color-secondary

// 另一个更浅的背景色
// $bg-color-tertiary

// 边框颜色
// $border-color

// 元素阴影色
// $box-shadow

// 卡片阴影色
// $card-shadow

//============================================= 导航栏 ===================================================
// 导航栏高度
// $navbar-height

// 导航栏水平填充
// $navbar-horizontal-padding

// 导航栏垂直填充
// $navbar-vertical-padding

// 移动设备上的导航栏高度
// $navbar-mobile-height

// 移动设备上的导航栏水平填充
// $navbar-mobile-horizontal-padding

// 移动设备上的导航栏垂直填充
// $navbar-mobile-vertical-padding

//============================================= 侧边栏 ===================================================
// 侧边栏宽度
// $sidebar-width

// 移动设备侧边栏宽度
// $sidebar-mobile-width

//============================================= 内容 ===================================================
// 主要内容的宽度
// $content-width

// 主页内容的宽度
// $home-page-width

//============================================= 字体 ===================================================
// 普通文本上使用的字体
$font-family: 'STKaiti, Georgia, -apple-system, "Nimbus Roman No9 L", "PingFang SC", "Hiragino Sans GB", "Noto Serif SC", "Microsoft Yahei", "WenQuanYi Micro Hei", "ST Heiti", sans-serif';

// 用于标题元素的字体
$font-family-heading: "STKaiti";

//============================================= 代码 ===================================================
// 代码上使用的字体
// $font-family-mono

// 代码块中行号的宽度
// $line-numbers-width:

//============================================= 过滤 ===================================================
// 用于颜色的过渡
// $color-transition

// 用于变换动画的过渡
// $transform-transition
